<ion-header>
  <ion-toolbar  class="colorBack">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Libros Favoritos</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content style="background-color: #e7edfb;">
  <ion-list class="background">
    <ion-item button lines="none" class="itemList" *ngFor="let favorite of my_favorite_books">
       <ion-avatar class="avatarList">
        <img alt="Silhouette of a person's head" src="{{favorite.cover}}" />
      </ion-avatar>
      <div>

        <ion-label class="saltoLineatitle">{{favorite.name}}</ion-label>
        <div style="display: flex;">
          <ion-label *ngFor="let generos of favorite.genres;let last = last" style="color: gray; font-size: 14px;">{{generos}}{{last ? '' : ', '}}</ion-label>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
