
 ion-avatar{
    height: 150px;
    width: 100%;
 }

 ion-avatar img{
   width: 90px;
   height: 90px;
 }

 .colorBack{
  --background: #dae5ff
}
 
 ion-card {
  width: 100%;
  margin: 0;
  padding: 0;
}

ion-card ion-card-header {
  padding: 10px 10px;
}

ion-card ion-card-content {
  padding: 10px 10px;
  font-size: .8em;
  text-transform: lowercase;
}

ion-card ion-card-title {
  font-size: 1em;
  text-transform: uppercase;
}

ion-card  ion-icon{
  font-size: 40px;
}

ion-content{
  --background:#e7edfb;
}